# Part 1:

In [1]:
# Import packages
import pandas as pd
import numpy as np

In [2]:
# Load dataset
netflix_data = pd.read_csv("/content/drive/MyDrive/SigmaData/Netflix_Raw_Dataset.csv")

In [3]:
# View data
print("-------------------------------------------------------------")
print(netflix_data.head(3))
print("-------------------------------------------------------------")

-------------------------------------------------------------
  show_id     type                 title         director  \
0      s1    Movie  Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show         Blood & Water              NaN
2      s3  TV Show             Ganglands  Julien Leclercq

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
-------------------------------------------------------------

In [4]:
# Describe data
print("-------------------------------------------------------------")
print(netflix_data.info())
print("-------------------------------------------------------------")
print("-------------------------------------------------------------")
print(netflix_data.describe())
print("-------------------------------------------------------------")

-------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB
None
-------------------------------------------------------------
-------------------------------------------------------------
       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000
-------------------------------------------------------------

In [5]:
# Check missing values
print("-------------------------------------------------------------")
print(netflix_data.isnull().sum())
print("-------------------------------------------------------------")

-------------------------------------------------------------
show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64
-------------------------------------------------------------

In [6]:
# Dropping missing data rows
print("-------------------------------------------------------------")
original_data_rows = netflix_data.shape[0]
print(original_data_rows)
print("-------------------------------------------------------------")

print("-------------------------------------------------------------")
dropped_data_rows = netflix_data.dropna()
dropped_data_rows = dropped_data_rows.shape[0]
print(dropped_data_rows)
print("-------------------------------------------------------------")

print("-------------------------------------------------------------")
dropped_rows = original_data_rows - dropped_data_rows
print(f"The dropped rowas are: {dropped_rows}")
print("-------------------------------------------------------------")

-------------------------------------------------------------
8807
-------------------------------------------------------------
-------------------------------------------------------------
5332
-------------------------------------------------------------
-------------------------------------------------------------
The dropped rowas are: 3475
-------------------------------------------------------------

In [7]:
# Calculate lost data rate
print("-------------------------------------------------------------")
data_loss_rate = (dropped_rows / original_data_rows) * 100
print(f"The data loss rate is:, {data_loss_rate:.2f}%")
print("-------------------------------------------------------------")

-------------------------------------------------------------
The data loss rate is:, 39.46%
-------------------------------------------------------------

In [8]:
# Handling missing values in director column
print("-------------------------------------------------------------")
# Check dataset before
print(netflix_data["director"].nunique())
print("-------------------------------------------------------------")

print("-------------------------------------------------------------")
# Filling missing values :: Using fillna function
netflix_data["director"] = netflix_data["director"].fillna('Unspecified')
print(netflix_data["director"].isna().sum())
print("-------------------------------------------------------------")

print("-------------------------------------------------------------")
# Check dataset after
print(netflix_data["director"].nunique())
print("-------------------------------------------------------------")

-------------------------------------------------------------
4528
-------------------------------------------------------------
-------------------------------------------------------------
0
-------------------------------------------------------------
-------------------------------------------------------------
4529
-------------------------------------------------------------

In [9]:
# Handling missing values in cast column
print("-------------------------------------------------------------")
# Check dataset before
print(netflix_data["cast"].nunique())
print("-------------------------------------------------------------")

print("-------------------------------------------------------------")
# Filling missing values :: Using fillna function
netflix_data["cast"] = netflix_data["cast"].fillna('Unlisted')
print(netflix_data["cast"].isna().sum())
print("-------------------------------------------------------------")

print("-------------------------------------------------------------")
# Check dataset after
print(netflix_data["cast"].nunique())
print("-------------------------------------------------------------")

-------------------------------------------------------------
7692
-------------------------------------------------------------
-------------------------------------------------------------
0
-------------------------------------------------------------
-------------------------------------------------------------
7693
-------------------------------------------------------------

In [10]:
# Looking into the rating column
print("-------------------------------------------------------------")
print(netflix_data["rating"].value_counts())
print("-------------------------------------------------------------")

-------------------------------------------------------------
rating
TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NC-17          3
UR             3
74 min         1
84 min         1
66 min         1
Name: count, dtype: int64
-------------------------------------------------------------

In [11]:
# Displaying incorrect rows in rating column
print("-------------------------------------------------------------")
print(netflix_data.loc[(netflix_data['rating'] == '74 min')
                       | (netflix_data['rating'] == '84 min')
                       | (netflix_data['rating'] == '66 min')
                       ])
print("-------------------------------------------------------------")

# Alternative notation
print("-------------------------------------------------------------")
print(
    netflix_data[netflix_data['rating'].isin(['74 min', '84 min', '66 min'])]
     )
print("-------------------------------------------------------------")

-------------------------------------------------------------
     show_id   type                                 title    director  \
5541   s5542  Movie                       Louis C.K. 2017  Louis C.K.
5794   s5795  Movie                 Louis C.K.: Hilarious  Louis C.K.
5813   s5814  Movie  Louis C.K.: Live at the Comedy Store  Louis C.K.

            cast        country          date_added  release_year  rating  \
5541  Louis C.K.  United States       April 4, 2017          2017  74 min
5794  Louis C.K.  United States  September 16, 2016          2010  84 min
5813  Louis C.K.  United States     August 15, 2016          2015  66 min

     duration listed_in                                        description
5541      NaN    Movies  Louis C.K. muses on religion, eternal love, gi...
5794      NaN    Movies  Emmy-winning comedy writer Louis C.K. brings h...
5813      NaN    Movies  The comic puts his trademark hilarious/thought...
-------------------------------------------------------------
-------------------------------------------------------------
     show_id   type                                 title    director  \
5541   s5542  Movie                       Louis C.K. 2017  Louis C.K.
5794   s5795  Movie                 Louis C.K.: Hilarious  Louis C.K.
5813   s5814  Movie  Louis C.K.: Live at the Comedy Store  Louis C.K.

            cast        country          date_added  release_year  rating  \
5541  Louis C.K.  United States       April 4, 2017          2017  74 min
5794  Louis C.K.  United States  September 16, 2016          2010  84 min
5813  Louis C.K.  United States     August 15, 2016          2015  66 min

     duration listed_in                                        description
5541      NaN    Movies  Louis C.K. muses on religion, eternal love, gi...
5794      NaN    Movies  Emmy-winning comedy writer Louis C.K. brings h...
5813      NaN    Movies  The comic puts his trademark hilarious/thought...
-------------------------------------------------------------

In [12]:
# Moving incorrect values from rating to duration columns
print("-------------------------------------------------------------")
netflix_data.loc[netflix_data['rating'] == '74 min', 'duration'] = "74 min"
netflix_data.loc[netflix_data['rating'] == '84 min', 'duration'] = "84 min"
netflix_data.loc[netflix_data['rating'] == '66 min', 'duration'] = "66 min"

netflix_data.loc[netflix_data['rating'] == '74 min', 'rating'] = None
netflix_data.loc[netflix_data['rating'] == '84 min', 'rating'] = None
netflix_data.loc[netflix_data['rating'] == '66 min', 'rating'] = None
print("-------------------------------------------------------------")

print("-------------------------------------------------------------")
print(netflix_data.isna().sum())
print("-------------------------------------------------------------")

-------------------------------------------------------------
-------------------------------------------------------------
-------------------------------------------------------------
show_id           0
type              0
title             0
director          0
cast              0
country         831
date_added       10
release_year      0
rating            7
duration          0
listed_in         0
description       0
dtype: int64
-------------------------------------------------------------

In [13]:
# Getting the modal country
print("-------------------------------------------------------------")
# Check before
print(netflix_data['country'].isna().sum())
print("-------------------------------------------------------------")

print("-------------------------------------------------------------")
modal_country = netflix_data['country'].mode()[0]
print(modal_country)

netflix_data['country'] = netflix_data['country'].fillna(modal_country)
print("-------------------------------------------------------------")

print("-------------------------------------------------------------")
# Check after
print(netflix_data['country'].isna().sum())
print("-------------------------------------------------------------")

-------------------------------------------------------------
831
-------------------------------------------------------------
-------------------------------------------------------------
United States
-------------------------------------------------------------
-------------------------------------------------------------
0
-------------------------------------------------------------

# Part 2:

## Steps :: Data Preparation

1. Understanding the dataset
2. Dealing with missing values
3. Correcting the data types
4. Dealing with inconsistent data
    a. Standardizing text data
    b. Replacing values
5. Removing duplicates
    a. Identifying duplicates
    b. Removing duplicates
6. Data normalization
    a. Min-max normalization
7. Aggregating data
8. Handling outliers

In [14]:
# Import packages
import pandas as pd
from scipy.stats import zscore

In [15]:
# Loading dataset
olympics_df = pd.read_csv("/content/drive/MyDrive/SigmaData/Olympics_2024.csv")

## 1. Understanding the dataset

In [16]:
# Dataset summary
olympics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454 entries, 0 to 453
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Competitions  454 non-null    object
 1   Rank          454 non-null    object
 2   NOC           454 non-null    object
 3   Gold          454 non-null    int64
 4   Silver        454 non-null    int64
 5   Bronze        454 non-null    int64
 6   Total         454 non-null    int64
dtypes: int64(4), object(3)
memory usage: 25.0+ KB

In [17]:
# Dataset statistics
olympics_df.describe()

             Gold      Silver      Bronze       Total
count  454.000000  454.000000  454.000000  454.000000
mean     0.724670    0.726872    0.848018    2.299559
std      1.329396    1.228912    1.110370    2.900582
min      0.000000    0.000000    0.000000    1.000000
25%      0.000000    0.000000    0.000000    1.000000
50%      0.000000    0.000000    1.000000    1.000000
75%      1.000000    1.000000    1.000000    2.000000
max     14.000000   13.000000    9.000000   34.000000

## 2. Dealing with missing values

In [18]:
# Identifying missing values
olympics_df.isna().sum()

Competitions    0
Rank            0
NOC             0
Gold            0
Silver          0
Bronze          0
Total           0
dtype: int64

In [19]:
# Correcting missing values
""" No missing values. Hence no correction! """

' No missing values. Hence no correction! '

## 3. Correcting the data types

In [20]:
# Checking data types
olympics_df.dtypes

Competitions    object
Rank            object
NOC             object
Gold             int64
Silver           int64
Bronze           int64
Total            int64
dtype: object

In [21]:
# Converting data types
# Dealing with incorrect data
olympics_df['Rank'] = pd.to_numeric(olympics_df['Rank'].replace('-', ''), errors='coerce')

# Converting from string / object to integers
olympics_df['Rank'] = olympics_df['Rank'].fillna(0).astype(int)

olympics_df.head()

  Competitions  Rank             NOC  Gold  Silver  Bronze  Total
0      Archery     1     South Korea     5       1       1      7
1      Archery     2         France*     0       1       1      2
2      Archery     3   United States     0       1       1      2
3      Archery     4           China     0       1       0      1
4      Archery     5         Germany     0       1       0      1

In [22]:
olympics_df.iloc[194:203]

,Competitions,Rank,NOC,Gold,Silver,Bronze,Total
194,Gymnastics,3,Japan,3,0,1,4
195,Gymnastics,4,Philippines,2,0,0,2
196,Gymnastics,5,Brazil,1,2,1,4
197,Gymnastics,6,Italy,1,1,3,5
198,Gymnastics,0,Individual Neutral Athletes,1,1,0,2
199,Gymnastics,7,Great Britain,1,0,2,3
200,Gymnastics,8,Algeria,1,0,0,1
201,Gymnastics,9,Germany,1,0,0,1
202,Gymnastics,10,Ireland,1,0,0,1

In [23]:
olympics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454 entries, 0 to 453
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Competitions  454 non-null    object
 1   Rank          454 non-null    int64
 2   NOC           454 non-null    object
 3   Gold          454 non-null    int64
 4   Silver        454 non-null    int64
 5   Bronze        454 non-null    int64
 6   Total         454 non-null    int64
dtypes: int64(5), object(2)
memory usage: 25.0+ KB

## 4. Dealing with inconsistent data

##### 4.1 Standardizing text data

In [25]:
# Renaming "NOC" to Country
cols_to_rename = {"NOC" : "Country"}

olympics_df = olympics_df.rename(columns=cols_to_rename)

olympics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454 entries, 0 to 453
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Competitions  454 non-null    object
 1   Rank          454 non-null    int64
 2   Country       454 non-null    object
 3   Gold          454 non-null    int64
 4   Silver        454 non-null    int64
 5   Bronze        454 non-null    int64
 6   Total         454 non-null    int64
dtypes: int64(5), object(2)
memory usage: 25.0+ KB

In [26]:
# Unique countries in dataset
olympics_df['Country'].unique().tolist()

['\xa0South Korea',
 '\xa0France*',
 '\xa0United States',
 '\xa0China',
 '\xa0Germany',
 '\xa0Mexico',
 '\xa0Turkey',
 '\xa0Great Britain',
 '\xa0Netherlands',
 '\xa0Spain',
 '\xa0Kenya',
 '\xa0Canada',
 '\xa0Norway',
 '\xa0Jamaica',
 '\xa0Ethiopia',
 '\xa0Australia',
 '\xa0Belgium',
 '\xa0Bahrain',
 '\xa0Botswana',
 '\xa0Ecuador',
 '\xa0New Zealand',
 '\xa0Saint Lucia',
 '\xa0Uganda',
 '\xa0Ukraine',
 '\xa0Greece',
 '\xa0Dominica',
 '\xa0Dominican Republic',
 '\xa0Japan',
 '\xa0Morocco',
 '\xa0Pakistan',
 '\xa0Sweden',
 '\xa0South Africa',
 '\xa0Italy',
 '\xa0Brazil',
 '\xa0Hungary',
 '\xa0India',
 '\xa0Lithuania',
 '\xa0Portugal',
 '\xa0Grenada',
 '\xa0Algeria',
 '\xa0Croatia',
 '\xa0Czech Republic',
 '\xa0Poland',
 '\xa0Puerto Rico',
 '\xa0Qatar',
 '\xa0Zambia',
 '\xa0Chinese Taipei',
 '\xa0Denmark',
 '\xa0Thailand',
 '\xa0Malaysia',
 '\xa0Indonesia',
 '\xa0Serbia',
 '\xa0Uzbekistan',
 '\xa0Cuba',
 '\xa0Ireland',
 '\xa0Kazakhstan',
 '\xa0Azerbaijan',
 '\xa0Kyrgyzstan',
 '\xa0Panama',
 '\xa0Philippines',
 '\xa0Bulgaria',
 '\xa0Cape Verde',
 '\xa0Georgia',
 '\xa0North Korea',
 '\xa0Refugee Olympic Team',
 '\xa0Tajikistan',
 '\xa0Moldova',
 '\xa0Slovakia',
 '\xa0Argentina',
 '\xa0Switzerland',
 '\xa0Hong Kong',
 '\xa0Tunisia',
 '\xa0Egypt',
 '\xa0Individual Neutral Athletes',
 '\xa0Israel',
 '\xa0Armenia',
 '\xa0Colombia',
 '\xa0Romania',
 '\xa0Slovenia',
 '\xa0Kosovo',
 '\xa0Mongolia',
 '\xa0Austria',
 '\xa0Individual Neutral Athletes[A]',
 '\xa0Fiji',
 '\xa0Cyprus',
 '\xa0Peru',
 '\xa0Singapore',
 '\xa0Guatemala',
 '\xa0Chile',
 '\xa0Iran',
 '\xa0Jordan',
 '\xa0Ivory Coast',
 '\xa0Albania']

In [27]:
# Convert country names to uppercase
olympics_df['Country'] = olympics_df['Country'].str.upper()

# Remove leading & lagging empty spaces
olympics_df['Country'] = olympics_df['Country'].str.upper().str.strip()

olympics_df['Country'].unique().tolist()

['SOUTH KOREA',
 'FRANCE*',
 'UNITED STATES',
 'CHINA',
 'GERMANY',
 'MEXICO',
 'TURKEY',
 'GREAT BRITAIN',
 'NETHERLANDS',
 'SPAIN',
 'KENYA',
 'CANADA',
 'NORWAY',
 'JAMAICA',
 'ETHIOPIA',
 'AUSTRALIA',
 'BELGIUM',
 'BAHRAIN',
 'BOTSWANA',
 'ECUADOR',
 'NEW ZEALAND',
 'SAINT LUCIA',
 'UGANDA',
 'UKRAINE',
 'GREECE',
 'DOMINICA',
 'DOMINICAN REPUBLIC',
 'JAPAN',
 'MOROCCO',
 'PAKISTAN',
 'SWEDEN',
 'SOUTH AFRICA',
 'ITALY',
 'BRAZIL',
 'HUNGARY',
 'INDIA',
 'LITHUANIA',
 'PORTUGAL',
 'GRENADA',
 'ALGERIA',
 'CROATIA',
 'CZECH REPUBLIC',
 'POLAND',
 'PUERTO RICO',
 'QATAR',
 'ZAMBIA',
 'CHINESE TAIPEI',
 'DENMARK',
 'THAILAND',
 'MALAYSIA',
 'INDONESIA',
 'SERBIA',
 'UZBEKISTAN',
 'CUBA',
 'IRELAND',
 'KAZAKHSTAN',
 'AZERBAIJAN',
 'KYRGYZSTAN',
 'PANAMA',
 'PHILIPPINES',
 'BULGARIA',
 'CAPE VERDE',
 'GEORGIA',
 'NORTH KOREA',
 'REFUGEE OLYMPIC TEAM',
 'TAJIKISTAN',
 'MOLDOVA',
 'SLOVAKIA',
 'ARGENTINA',
 'SWITZERLAND',
 'HONG KONG',
 'TUNISIA',
 'EGYPT',
 'INDIVIDUAL NEUTRAL ATHLETES',
 'ISRAEL',
 'ARMENIA',
 'COLOMBIA',
 'ROMANIA',
 'SLOVENIA',
 'KOSOVO',
 'MONGOLIA',
 'AUSTRIA',
 'INDIVIDUAL NEUTRAL ATHLETES[A]',
 'FIJI',
 'CYPRUS',
 'PERU',
 'SINGAPORE',
 'GUATEMALA',
 'CHILE',
 'IRAN',
 'JORDAN',
 'IVORY COAST',
 'ALBANIA']

##### 4.2 Replacing values

In [28]:
# Replacing values
olympics_df['Country'] = olympics_df['Country'].str.replace('KOREA, REPUBLIC OF', 'SOUTH KOREA')
olympics_df['Country'] = olympics_df['Country'].str.replace('FRANCE*', 'FRANCE')
olympics_df['Country'] = olympics_df['Country'].str.replace('INDIVIDUAL NEUTRAL ATHLETES[A]', 'INDIVIDUAL NEUTRAL ATHLETES')


olympics_df['Country'].unique().tolist()

['SOUTH KOREA',
 'FRANCE',
 'UNITED STATES',
 'CHINA',
 'GERMANY',
 'MEXICO',
 'TURKEY',
 'GREAT BRITAIN',
 'NETHERLANDS',
 'SPAIN',
 'KENYA',
 'CANADA',
 'NORWAY',
 'JAMAICA',
 'ETHIOPIA',
 'AUSTRALIA',
 'BELGIUM',
 'BAHRAIN',
 'BOTSWANA',
 'ECUADOR',
 'NEW ZEALAND',
 'SAINT LUCIA',
 'UGANDA',
 'UKRAINE',
 'GREECE',
 'DOMINICA',
 'DOMINICAN REPUBLIC',
 'JAPAN',
 'MOROCCO',
 'PAKISTAN',
 'SWEDEN',
 'SOUTH AFRICA',
 'ITALY',
 'BRAZIL',
 'HUNGARY',
 'INDIA',
 'LITHUANIA',
 'PORTUGAL',
 'GRENADA',
 'ALGERIA',
 'CROATIA',
 'CZECH REPUBLIC',
 'POLAND',
 'PUERTO RICO',
 'QATAR',
 'ZAMBIA',
 'CHINESE TAIPEI',
 'DENMARK',
 'THAILAND',
 'MALAYSIA',
 'INDONESIA',
 'SERBIA',
 'UZBEKISTAN',
 'CUBA',
 'IRELAND',
 'KAZAKHSTAN',
 'AZERBAIJAN',
 'KYRGYZSTAN',
 'PANAMA',
 'PHILIPPINES',
 'BULGARIA',
 'CAPE VERDE',
 'GEORGIA',
 'NORTH KOREA',
 'REFUGEE OLYMPIC TEAM',
 'TAJIKISTAN',
 'MOLDOVA',
 'SLOVAKIA',
 'ARGENTINA',
 'SWITZERLAND',
 'HONG KONG',
 'TUNISIA',
 'EGYPT',
 'INDIVIDUAL NEUTRAL ATHLETES',
 'ISRAEL',
 'ARMENIA',
 'COLOMBIA',
 'ROMANIA',
 'SLOVENIA',
 'KOSOVO',
 'MONGOLIA',
 'AUSTRIA',
 'FIJI',
 'CYPRUS',
 'PERU',
 'SINGAPORE',
 'GUATEMALA',
 'CHILE',
 'IRAN',
 'JORDAN',
 'IVORY COAST',
 'ALBANIA']

## 5. Removing duplicates

##### 5.1 Identifying duplicates

In [29]:
# Checking duplicates
olympics_df.duplicated().sum()

np.int64(0)

In [30]:
# Displaying duplicates
duplicates = olympics_df[olympics_df.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [Competitions, Rank, Country, Gold, Silver, Bronze, Total]
Index: []

##### 5.2 Removing duplicates

In [31]:
# Remove duplicate rows -> No existing duplicates fro our dataset
olympics_df = olympics_df.drop_duplicates()

### 6. Data normaliztion

##### 6.1 Min max normaliztion

In [32]:
# Normalize a column - for example 'Gold'

def min_max_normalizer(x):
  numerator = x - x.min()
  denominator = (x.max() - x.min())

  normalized_value = numerator / denominator

  return normalized_value

# Applying the user defined function to our dataset
olympics_df['Gold_Normalized'] = min_max_normalizer(olympics_df['Gold'])

olympics_df.head()

,Competitions,Rank,Country,Gold,Silver,Bronze,Total,Gold_Normalized
0,Archery,1,SOUTH KOREA,5,1,1,7,0.357143
1,Archery,2,FRANCE,0,1,1,2,0.000000
2,Archery,3,UNITED STATES,0,1,1,2,0.000000
3,Archery,4,CHINA,0,1,0,1,0.000000
4,Archery,5,GERMANY,0,1,0,1,0.000000

### 7. Aggregating

In [33]:
# Summarizing information
medal_totals = olympics_df.groupby('Country')['Total'].sum().reset_index()

# Sort the results by the total number of medals
medal_totals = medal_totals.sort_values(by='Total', ascending=False)
medal_totals.head()

          Country  Total
89  UNITED STATES    126
15          CHINA     91
32  GREAT BRITAIN     65
29         FRANCE     64
4       AUSTRALIA     53

### 8. Handling outliers


|   Skew Value (x)  |       Description of Data      |
|:-------------------|:---------------:|
| -0.5 < x < 0.5              |Fairly Symmetrical |
| -1 < x < -0.5 | Moderate Negative Skew  |
| 0.5 < x < 1             | Moderate Positive Skew  |
|       x < -1     |High Negative Skew  |
|       x > 1  |High Positve Skew |

Useful commands:

    - df.skew()
    - df.kurtosis()

In [34]:
# Detecting outliers
print(olympics_df[['Gold', 'Silver', 'Bronze', 'Total']].skew())
print("*"*50)
print(olympics_df[['Gold', 'Silver', 'Bronze', 'Total']].kurtosis())

Gold      4.206997
Silver    4.812007
Bronze    2.674411
Total     5.639444
dtype: float64
**************************************************
Gold      28.368168
Silver    36.875795
Bronze    11.647542
Total     47.297958
dtype: float64

In [35]:
# Using zscore
olympics_df['Z_score'] = zscore(olympics_df['Total'])
olympics_df.head()

,Competitions,Rank,Country,Gold,Silver,Bronze,Total,Gold_Normalized,Z_score
0,Archery,1,SOUTH KOREA,5,1,1,7,0.357143,1.622304
1,Archery,2,FRANCE,0,1,1,2,0.000000,-0.103390
2,Archery,3,UNITED STATES,0,1,1,2,0.000000,-0.103390
3,Archery,4,CHINA,0,1,0,1,0.000000,-0.448528
4,Archery,5,GERMANY,0,1,0,1,0.000000,-0.448528

In [36]:
# Using zscore with standard deviations
outliers = olympics_df[olympics_df['Z_score'].abs() > 3]
print(outliers)

    Competitions  Rank        Country  Gold  Silver  Bronze  Total  \
12     Athletics     1  UNITED STATES    14      11       9     34
13     Athletics     2          KENYA     4       2       5     11
132      Cycling     5  GREAT BRITAIN     2       5       4     11
145       Diving     1          CHINA     8       2       1     11
192   Gymnastics     1          CHINA     3       6       3     12
327     Swimming     1  UNITED STATES     8      13       7     28
328     Swimming     2      AUSTRALIA     7       9       3     19
332     Swimming     6          CHINA     2       3       7     12
428    Wrestling     1          JAPAN     8       1       2     11

     Gold_Normalized    Z_score
12          1.000000  10.941048
13          0.285714   3.002859
132         0.142857   3.002859
145         0.571429   3.002859
192         0.214286   3.347997
327         0.571429   8.870216
328         0.500000   5.763968
332         0.142857   3.347997
428         0.571429   3.002859

In [37]:
# Describe data statistics
olympics_df.describe()

,Rank,Gold,Silver,Bronze,Total,Gold_Normalized,Z_score
count,454.000000,454.000000,454.000000,454.000000,454.000000,454.000000,4.540000e+02
mean,10.105727,0.724670,0.726872,0.848018,2.299559,0.051762,-1.173804e-17
std,8.413293,1.329396,1.228912,1.110370,2.900582,0.094957,1.001103e+00
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,-4.485283e-01
25%,4.000000,0.000000,0.000000,0.000000,1.000000,0.000000,-4.485283e-01
50%,7.500000,0.000000,0.000000,1.000000,1.000000,0.000000,-4.485283e-01
75%,15.000000,1.000000,1.000000,1.000000,2.000000,0.071429,-1.033896e-01
max,43.000000,14.000000,13.000000,9.000000,34.000000,1.000000,1.094105e+01

# Part 3:

### Joining

In [38]:
# Import packages
import pandas as pd

In [39]:
# Dataset 1
raw_data_1 = {
    'student_id': ['s1', 's2', 's3', 's4', 's5'],
    'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
    'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches'],
    'subject_id': ['1', '2', '3', '4', '5']
}

# Dataset 2
raw_data_2 = {
    'student_id': ['s6', 's7', 's8', 's9', 's10', 's11'],
    'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty', 'willy'],
    'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan', 'stones'],
    'subject_id': ['4', '5', '6', '7', '8', '12']
}


# Dataset 3
raw_data_3 = {
    'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
    'subject_names': ["math", "English", "swahili", "physics", "biology", "history", "computer", "chemistry", "business", "agriculture"],
    'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]
}


# Dataset 4
raw_data_4 = {
    'test_id': [1, 14, 15, 16, 51, 61],
    'test_name': ['Practice_Test', 'Quiz_1', 'Pop_Quiz', 'Midterm', 'PreTest', 'Final_Exam'],
    'max_score': [100, 20, 20, 100, 100, 100],
    'test_date': ['2025-01-10', '2025-01-15', '2025-01-17', '2025-02-01', '2025-03-01', '2025-04-15']
}

In [40]:
# DataFrames from datasets
stream_a = pd.DataFrame(raw_data_1)
stream_b = pd.DataFrame(raw_data_2)
subjects = pd.DataFrame(raw_data_3)
tests = pd.DataFrame(raw_data_4)

In [41]:
# Checking Dataframes
print("-------------------------------------------------------------")
print(stream_a.head())
print("-------------------------------------------------------------")
print(stream_b.head())
print("-------------------------------------------------------------")
print(subjects.head())
print("-------------------------------------------------------------")
print("-------------------------------------------------------------")
print(tests.head())
print("-------------------------------------------------------------")

-------------------------------------------------------------
  student_id first_name last_name subject_id
0         s1       Alex  Anderson          1
1         s2        Amy  Ackerman          2
2         s3      Allen       Ali          3
3         s4      Alice      Aoni          4
4         s5     Ayoung   Atiches          5
-------------------------------------------------------------
  student_id first_name last_name subject_id
0         s6      Billy    Bonder          4
1         s7      Brian     Black          5
2         s8       Bran   Balwner          6
3         s9      Bryce     Brice          7
4        s10      Betty    Btisan          8
-------------------------------------------------------------
  subject_id subject_names  test_id
0          1          math       51
1          2       English       15
2          3       swahili       15
3          4       physics       61
4          5       biology       16
-------------------------------------------------------------
-------------------------------------------------------------
   test_id      test_name  max_score   test_date
0        1  Practice_Test        100  2025-01-10
1       14         Quiz_1         20  2025-01-15
2       15       Pop_Quiz         20  2025-01-17
3       16        Midterm        100  2025-02-01
4       51        PreTest        100  2025-03-01
-------------------------------------------------------------

In [42]:
# Joining DataFrames - Vertical = Axis 0 - One Index
print("-------------------------------------------------------------")
students = pd.concat([stream_a, stream_b], axis=0).reset_index(drop=True)
print(students)
print("-------------------------------------------------------------")

print("-------------------------------------------------------------")
print(students.head())
print("-------------------------------------------------------------")

-------------------------------------------------------------
   student_id first_name last_name subject_id
0          s1       Alex  Anderson          1
1          s2        Amy  Ackerman          2
2          s3      Allen       Ali          3
3          s4      Alice      Aoni          4
4          s5     Ayoung   Atiches          5
5          s6      Billy    Bonder          4
6          s7      Brian     Black          5
7          s8       Bran   Balwner          6
8          s9      Bryce     Brice          7
9         s10      Betty    Btisan          8
10        s11      willy    stones         12
-------------------------------------------------------------
-------------------------------------------------------------
  student_id first_name last_name subject_id
0         s1       Alex  Anderson          1
1         s2        Amy  Ackerman          2
2         s3      Allen       Ali          3
3         s4      Alice      Aoni          4
4         s5     Ayoung   Atiches          5
-------------------------------------------------------------

In [43]:
# Checking subjects
print("-------------------------------------------------------------")
print(subjects.head(10))
print("-------------------------------------------------------------")

# Checking tests
print("-------------------------------------------------------------")
print(tests.head(10))
print("-------------------------------------------------------------")

-------------------------------------------------------------
  subject_id subject_names  test_id
0          1          math       51
1          2       English       15
2          3       swahili       15
3          4       physics       61
4          5       biology       16
5          7       history       14
6          8      computer       15
7          9     chemistry        1
8         10      business       61
9         11   agriculture       16
-------------------------------------------------------------
-------------------------------------------------------------
   test_id      test_name  max_score   test_date
0        1  Practice_Test        100  2025-01-10
1       14         Quiz_1         20  2025-01-15
2       15       Pop_Quiz         20  2025-01-17
3       16        Midterm        100  2025-02-01
4       51        PreTest        100  2025-03-01
5       61     Final_Exam        100  2025-04-15
-------------------------------------------------------------

In [45]:
# Joining DataFrames - Horizontal = Axis 1 - One Index
print("-------------------------------------------------------------")
students2 = pd.concat([stream_a, stream_b], axis=1).reset_index(drop=True)
print(students2)
print("-------------------------------------------------------------")

print("-------------------------------------------------------------")
print(students2.head())
print("-------------------------------------------------------------")

-------------------------------------------------------------
  student_id first_name last_name subject_id student_id first_name last_name  \
0         s1       Alex  Anderson          1         s6      Billy    Bonder
1         s2        Amy  Ackerman          2         s7      Brian     Black
2         s3      Allen       Ali          3         s8       Bran   Balwner
3         s4      Alice      Aoni          4         s9      Bryce     Brice
4         s5     Ayoung   Atiches          5        s10      Betty    Btisan
5        NaN        NaN       NaN        NaN        s11      willy    stones

  subject_id
0          4
1          5
2          6
3          7
4          8
5         12
-------------------------------------------------------------
-------------------------------------------------------------
  student_id first_name last_name subject_id student_id first_name last_name  \
0         s1       Alex  Anderson          1         s6      Billy    Bonder
1         s2        Amy  Ackerman          2         s7      Brian     Black
2         s3      Allen       Ali          3         s8       Bran   Balwner
3         s4      Alice      Aoni          4         s9      Bryce     Brice
4         s5     Ayoung   Atiches          5        s10      Betty    Btisan

  subject_id
0          4
1          5
2          6
3          7
4          8
-------------------------------------------------------------

### Merging

In [46]:
# Inner join
print("-------------------------------------------------------------")
df_inner = pd.merge(students, subjects, on='subject_id', how='inner')
print(df_inner.head(10))
print("-------------------------------------------------------------")

-------------------------------------------------------------
  student_id first_name last_name subject_id subject_names  test_id
0         s1       Alex  Anderson          1          math       51
1         s2        Amy  Ackerman          2       English       15
2         s3      Allen       Ali          3       swahili       15
3         s4      Alice      Aoni          4       physics       61
4         s5     Ayoung   Atiches          5       biology       16
5         s6      Billy    Bonder          4       physics       61
6         s7      Brian     Black          5       biology       16
7         s9      Bryce     Brice          7       history       14
8        s10      Betty    Btisan          8      computer       15
-------------------------------------------------------------

In [47]:
# Left join
print("-------------------------------------------------------------")
df_left = pd.merge(students, subjects, on='subject_id', how='left')
print(df_left.head(10))
print("-------------------------------------------------------------")

-------------------------------------------------------------
  student_id first_name last_name subject_id subject_names  test_id
0         s1       Alex  Anderson          1          math     51.0
1         s2        Amy  Ackerman          2       English     15.0
2         s3      Allen       Ali          3       swahili     15.0
3         s4      Alice      Aoni          4       physics     61.0
4         s5     Ayoung   Atiches          5       biology     16.0
5         s6      Billy    Bonder          4       physics     61.0
6         s7      Brian     Black          5       biology     16.0
7         s8       Bran   Balwner          6           NaN      NaN
8         s9      Bryce     Brice          7       history     14.0
9        s10      Betty    Btisan          8      computer     15.0
-------------------------------------------------------------

In [48]:
# Right join
print("-------------------------------------------------------------")
df_right = pd.merge(students, subjects, on='subject_id', how='right')
print(df_right.head(10))
print("-------------------------------------------------------------")

-------------------------------------------------------------
  student_id first_name last_name subject_id subject_names  test_id
0         s1       Alex  Anderson          1          math       51
1         s2        Amy  Ackerman          2       English       15
2         s3      Allen       Ali          3       swahili       15
3         s4      Alice      Aoni          4       physics       61
4         s6      Billy    Bonder          4       physics       61
5         s5     Ayoung   Atiches          5       biology       16
6         s7      Brian     Black          5       biology       16
7         s9      Bryce     Brice          7       history       14
8        s10      Betty    Btisan          8      computer       15
9        NaN        NaN       NaN          9     chemistry        1
-------------------------------------------------------------

In [49]:
# Outer join
print("-------------------------------------------------------------")
df_outer = pd.merge(students, subjects, on='subject_id', how='outer')
print(df_outer.head(10))
print("-------------------------------------------------------------")

-------------------------------------------------------------
  student_id first_name last_name subject_id subject_names  test_id
0         s1       Alex  Anderson          1          math     51.0
1        NaN        NaN       NaN         10      business     61.0
2        NaN        NaN       NaN         11   agriculture     16.0
3        s11      willy    stones         12           NaN      NaN
4         s2        Amy  Ackerman          2       English     15.0
5         s3      Allen       Ali          3       swahili     15.0
6         s4      Alice      Aoni          4       physics     61.0
7         s6      Billy    Bonder          4       physics     61.0
8         s5     Ayoung   Atiches          5       biology     16.0
9         s7      Brian     Black          5       biology     16.0
-------------------------------------------------------------

### Example Question

In [50]:
# Semester tests and students doing tests
print("-------------------------------------------------------------")
students_subjects = pd.merge(students, subjects, on='subject_id', how='inner')
print(students_subjects.head(10))
print("-------------------------------------------------------------")

print("-------------------------------------------------------------")
student_subjects_tests = pd.merge(students_subjects, tests, on='test_id', how='left')
print(student_subjects_tests.head(10))
print("-------------------------------------------------------------")

-------------------------------------------------------------
  student_id first_name last_name subject_id subject_names  test_id
0         s1       Alex  Anderson          1          math       51
1         s2        Amy  Ackerman          2       English       15
2         s3      Allen       Ali          3       swahili       15
3         s4      Alice      Aoni          4       physics       61
4         s5     Ayoung   Atiches          5       biology       16
5         s6      Billy    Bonder          4       physics       61
6         s7      Brian     Black          5       biology       16
7         s9      Bryce     Brice          7       history       14
8        s10      Betty    Btisan          8      computer       15
-------------------------------------------------------------
-------------------------------------------------------------
  student_id first_name last_name subject_id subject_names  test_id  \
0         s1       Alex  Anderson          1          math       51
1         s2        Amy  Ackerman          2       English       15
2         s3      Allen       Ali          3       swahili       15
3         s4      Alice      Aoni          4       physics       61
4         s5     Ayoung   Atiches          5       biology       16
5         s6      Billy    Bonder          4       physics       61
6         s7      Brian     Black          5       biology       16
7         s9      Bryce     Brice          7       history       14
8        s10      Betty    Btisan          8      computer       15

    test_name  max_score   test_date
0     PreTest        100  2025-03-01
1    Pop_Quiz         20  2025-01-17
2    Pop_Quiz         20  2025-01-17
3  Final_Exam        100  2025-04-15
4     Midterm        100  2025-02-01
5  Final_Exam        100  2025-04-15
6     Midterm        100  2025-02-01
7      Quiz_1         20  2025-01-15
8    Pop_Quiz         20  2025-01-17
-------------------------------------------------------------

In [51]:
# Checking missing values
student_subjects_tests.isna().sum()

student_id       0
first_name       0
last_name        0
subject_id       0
subject_names    0
test_id          0
test_name        0
max_score        0
test_date        0
dtype: int64